.diagonal-1 {
  position: absolute;
  z-index: 1;
  width: 575px;
  height: 595px;
  background-image: url(../images/diagonal_1.png);
  background-size: contain;
  background-repeat: no-repeat;
  top: 600px;
  left: 60px;
}

.diagonal-2 {
  position: absolute;
  z-index: 2;
  width: 670px;
  height: 740px;
  background-image: url(../images/diagonal_2.png);
  background-size: contain;
  background-repeat: no-repeat;
  top: 1230px;
  right: 30px;
}

.diagonal-3 {
  position: absolute;
  z-index: 15;
  width: 220px;
  height: 425px;
  background-image: url(../images/nonDrink.png);
  background-size: contain;
  background-repeat: no-repeat;
  top: 2100px;
  left: 167px;
}

.diagonal-4 {
  position: absolute;
  z-index: 3;
  width: 420px;
  height: 543px;
  background-image: url(../images/diag_3.2.png);
  background-size: contain;
  background-repeat: no-repeat;
  top: 1850px;
  left: 436px;
}

.diagonal-5 {
  position: absolute;
  z-index: 3;
  width: 482px;
  height: 661px;
  background-image: url(../images/diagonal_4.png);
  background-size: contain;
  background-repeat: no-repeat;
  top: 2100px;
  right: 50px;
}
